<h2>Do you need to correct the spelling of <%= @word.term %>?</h2>

<form action="/words/<%= @word.id() %>" method="post">
  <input name="_method" type="hidden" value="patch">

  <h3>Type the name of your animal again</h3>
  <input id="word_term" name="word_term" type="text" required="true" class="form-control">
  <br>

  <button type="submit" class="btn btn-info btn-lg">Update</button>
</form>

<h4><a href="/words">Return to animal list</a><h4>

<h1>Do you want to remove <%= @word.term %> from our animal list?</h1>

<form action="/words/<%= @word.id() %>" method="post">
  <input name="_method" type="hidden" value="delete">

  <button type="submit" class="btn btn-info btn-lg">Remove animal from the list</button>
</form>
