<!DOCTYPE html>
<html>
    <head>
        <title>Wacky Words!</title>
        <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
        <link href="https://fonts.googleapis.com/css?family=Bubblegum+Sans|Lato|Montserrat|Open+Sans|Oswald|Roboto&display=swap" rel="stylesheet">
        <link rel='stylesheet' href='styles.css'>
    </head>
    <body>
        <div class="container">
            <%= yield %>
        </div>
    </body>
</html>
