
<h2>What kind of animal do you want to write about?</h2>

<form action="/words" method="post">
  <div class="form-group">
    <input id="n" name="word_term" class="form-control" type="text" required="true">
  </div>
  <button type="submit" class="btn btn-info btn-lg"">Go!</button>
</form>
