
<h2>Add an animal</h2>

<form action="/words" method="post">
  <div class="form-group">
    <label for="word_term">Word</label>
    <input id="n" name="word_term" class="form-control" type="text">
  </div>
  <button type="submit" class="btn">Go!</button>
</form>
