<h1>Wacky, Wonderful Words</h1>

<h2>Do You Know What These Words Mean?</h2>
<% if @words.any? %>
  <ul>
    <% @words.each do |word| %>
      <li><%= word.term %></li>
    <% end %>
  </ul>
<% else %>
  <p>We don't have any words to show you.</p>
<% end %>

<a href='/words/new'> Add a new word!</a>

<% @words.each do |word| %>
    <li><a href="/words/<%= word.id %>"><%= word.term %></a></li>
  <% end %>
