body {
  background-color: #95E06C;
}

h1 {
  color: #094D92;
  font-family: 'Bubblegum Sans', cursive;
  size: 85px;
}

h2 {
  color: #094D92;
  font-family: 'Roboto', sans-serif;
  size: 40px;
}

h3 {
  color: black;
  font-family: 'Oswald', sans-serif;
  size: 16px;
}

h4{
  color: #1C1018;
  font-family: 'Oswald', sans-serif;
}
h5{
  color: #1C1018;
  font-family: 'Roboto', sans-serif;
}

p, li {
  color: black;
  font-family: 'Roboto', sans-serif;
  size: 128px;
}

a {
  color: #094D92;
  font-family: 'Lato', sans-serif;
}

label {
  color: #094D92;

}
