body {
  background-color: #95E06C;
  /* font-family: 'Roboto', sans-serif; */
}

h1 {
  color: #094D92;
  size: 112px;
  /* font-family: 'Bubblegum Sans', cursive; */
  padding-top: 60px;
}

h2 {
  color: #094D92;
  size: 36px;
}

h3 {
  color: #094D92;
  size: 24px;
}

h4 {
  color: #094D92;
  padding-top: 24px;

}
h5 {
  color: #1C1018;
}

p {
  color: black;
  size: 18px;
}
li {
  color: black;
}

a {
  color: #094D92;
}

label {
  color: #094D92;

}
